/* ==========================
Col generate functions
- basic col: .col.is-sm-6
- col offset: .col.is-sm-offset-6
-------------------------- */
/* ==========================
Row generate functions
- basic row: .col.is-sm-6
- col offset: .col.is-sm-offset-6
-------------------------- */
/* Col default (mobile) grid*/
.container {
  width: 100%;
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
@media (min-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1600px) {
  .container {
    padding: 0 40px;
  }
}
.container.is-fullwidth {
  max-width: 100%;
}
.container.is-width-sm {
  max-width: 320px;
}
.container.is-width-md {
  max-width: 640px;
}
.container.is-width-lg {
  max-width: 1024px;
}
.container.is-width-big {
  max-width: 1920px;
}
.container.is-gap-0 {
  padding: 0;
}
.col {
  flex: 1;
  width: 100%;
  padding: 0.8rem;
}
.col.is-narrow {
  flex: none;
  width: unset;
}
.col.is-auto {
  flex: none;
  width: auto;
}
.col.is-order-n1 {
  order: -1;
}
.col.is-order-n2 {
  order: -2;
}
.col.is-order-n3 {
  order: -3;
}
.col.is-order-n4 {
  order: -4;
}
.col.is-order-p1 {
  order: 1;
}
.col.is-order-p2 {
  order: 2;
}
.col.is-order-p3 {
  order: 3;
}
.col.is-order-p4 {
  order: 4;
}
.col.is-order-unset {
  order: unset;
}
.col.is-1 {
  flex: none;
  width: 6.25%;
}
.col.is-offset-1 {
  margin-left: 6.25%;
}
.col.is-2 {
  flex: none;
  width: 12.5%;
}
.col.is-offset-2 {
  margin-left: 12.5%;
}
.col.is-3 {
  flex: none;
  width: 18.75%;
}
.col.is-offset-3 {
  margin-left: 18.75%;
}
.col.is-4 {
  flex: none;
  width: 25%;
}
.col.is-offset-4 {
  margin-left: 25%;
}
.col.is-5 {
  flex: none;
  width: 31.25%;
}
.col.is-offset-5 {
  margin-left: 31.25%;
}
.col.is-6 {
  flex: none;
  width: 37.5%;
}
.col.is-offset-6 {
  margin-left: 37.5%;
}
.col.is-7 {
  flex: none;
  width: 43.75%;
}
.col.is-offset-7 {
  margin-left: 43.75%;
}
.col.is-8 {
  flex: none;
  width: 50%;
}
.col.is-offset-8 {
  margin-left: 50%;
}
.col.is-9 {
  flex: none;
  width: 56.25%;
}
.col.is-offset-9 {
  margin-left: 56.25%;
}
.col.is-10 {
  flex: none;
  width: 62.5%;
}
.col.is-offset-10 {
  margin-left: 62.5%;
}
.col.is-11 {
  flex: none;
  width: 68.75%;
}
.col.is-offset-11 {
  margin-left: 68.75%;
}
.col.is-12 {
  flex: none;
  width: 75%;
}
.col.is-offset-12 {
  margin-left: 75%;
}
.col.is-13 {
  flex: none;
  width: 81.25%;
}
.col.is-offset-13 {
  margin-left: 81.25%;
}
.col.is-14 {
  flex: none;
  width: 87.5%;
}
.col.is-offset-14 {
  margin-left: 87.5%;
}
.col.is-15 {
  flex: none;
  width: 93.75%;
}
.col.is-offset-15 {
  margin-left: 93.75%;
}
.col.is-16 {
  flex: none;
  width: 100%;
}
.col.is-offset-16 {
  margin-left: 100%;
}
/* Row default (mobile) gap and flex*/
.row {
  display: flex;
  margin-left: -0.8rem;
  margin-right: -0.8rem;
  flex-wrap: wrap;
  margin-top: -0.8rem;
}
.row:not(:last-child) {
  margin-bottom: 0.8rem;
}
.row:last-child {
  margin-top: -0.8rem;
  margin-bottom: -0.8rem;
}
.row.is-row-reverse {
  flex-direction: row-reverse;
}
.row.is-col-reverse {
  flex-direction: column-reverse;
}
.row.is-nowrap {
  flex-wrap: nowrap;
}
.row.is-center {
  justify-content: center;
}
.row.is-start {
  justify-content: flex-start;
}
.row.is-end {
  justify-content: flex-end;
}
.row.is-between {
  justify-content: space-between;
}
.row.is-around {
  justify-content: space-around;
}
.row.is-evenly {
  justify-content: space-evenly;
}
.row.is-justify-revert {
  justify-content: revert;
}
.row.is-middle {
  align-items: center;
}
.row.is-top {
  align-items: flex-start;
}
.row.is-bottom {
  align-items: flex-end;
}
.row.is-align-revert {
  align-items: revert;
}
.row.is-narrow .col {
  flex: none;
  width: unset;
}
.row.is-gap-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}
.row.is-gap-0 .col {
  padding-left: 0rem;
  padding-right: 0rem;
}
.row.is-linkgap-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}
.row.is-linkgap-0 .col.linkgap {
  padding-left: 0rem;
  padding-right: 0rem;
}
.row.is-gap-25 {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
.row.is-gap-25 .col {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.row.is-linkgap-25 {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
.row.is-linkgap-25 .col.linkgap {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.row.is-gap-50 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.row.is-gap-50 .col {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.row.is-linkgap-50 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.row.is-linkgap-50 .col.linkgap {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.row.is-gap-80 {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
}
.row.is-gap-80 .col {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.row.is-linkgap-80 {
  margin-left: -0.8rem;
  margin-right: -0.8rem;
}
.row.is-linkgap-80 .col.linkgap {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.row.is-gap-100 {
  margin-left: -1rem;
  margin-right: -1rem;
}
.row.is-gap-100 .col {
  padding-left: 1rem;
  padding-right: 1rem;
}
.row.is-linkgap-100 {
  margin-left: -1rem;
  margin-right: -1rem;
}
.row.is-linkgap-100 .col.linkgap {
  padding-left: 1rem;
  padding-right: 1rem;
}
.row.is-gap-125 {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.row.is-gap-125 .col {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.row.is-linkgap-125 {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.row.is-linkgap-125 .col.linkgap {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
/* breakpoints gap offsets and helpers */
@media (min-width: 320px) {
  /*    === GRID COL START ===    */
  .col.is-sm-narrow {
    flex: none;
    width: unset;
  }
  .col.is-sm-auto {
    flex: none;
    width: auto;
  }
  .col.is-sm-order-n1 {
    order: -1;
  }
  .col.is-sm-order-n2 {
    order: -2;
  }
  .col.is-sm-order-n3 {
    order: -3;
  }
  .col.is-sm-order-n4 {
    order: -4;
  }
  .col.is-sm-order-p1 {
    order: 1;
  }
  .col.is-sm-order-p2 {
    order: 2;
  }
  .col.is-sm-order-p3 {
    order: 3;
  }
  .col.is-sm-order-p4 {
    order: 4;
  }
  .col.is-sm-order-unset {
    order: unset;
  }
  .col.is-sm-1 {
    flex: none;
    width: 6.25%;
  }
  .col.is-sm-offset-1 {
    margin-left: 6.25%;
  }
  .col.is-sm-2 {
    flex: none;
    width: 12.5%;
  }
  .col.is-sm-offset-2 {
    margin-left: 12.5%;
  }
  .col.is-sm-3 {
    flex: none;
    width: 18.75%;
  }
  .col.is-sm-offset-3 {
    margin-left: 18.75%;
  }
  .col.is-sm-4 {
    flex: none;
    width: 25%;
  }
  .col.is-sm-offset-4 {
    margin-left: 25%;
  }
  .col.is-sm-5 {
    flex: none;
    width: 31.25%;
  }
  .col.is-sm-offset-5 {
    margin-left: 31.25%;
  }
  .col.is-sm-6 {
    flex: none;
    width: 37.5%;
  }
  .col.is-sm-offset-6 {
    margin-left: 37.5%;
  }
  .col.is-sm-7 {
    flex: none;
    width: 43.75%;
  }
  .col.is-sm-offset-7 {
    margin-left: 43.75%;
  }
  .col.is-sm-8 {
    flex: none;
    width: 50%;
  }
  .col.is-sm-offset-8 {
    margin-left: 50%;
  }
  .col.is-sm-9 {
    flex: none;
    width: 56.25%;
  }
  .col.is-sm-offset-9 {
    margin-left: 56.25%;
  }
  .col.is-sm-10 {
    flex: none;
    width: 62.5%;
  }
  .col.is-sm-offset-10 {
    margin-left: 62.5%;
  }
  .col.is-sm-11 {
    flex: none;
    width: 68.75%;
  }
  .col.is-sm-offset-11 {
    margin-left: 68.75%;
  }
  .col.is-sm-12 {
    flex: none;
    width: 75%;
  }
  .col.is-sm-offset-12 {
    margin-left: 75%;
  }
  .col.is-sm-13 {
    flex: none;
    width: 81.25%;
  }
  .col.is-sm-offset-13 {
    margin-left: 81.25%;
  }
  .col.is-sm-14 {
    flex: none;
    width: 87.5%;
  }
  .col.is-sm-offset-14 {
    margin-left: 87.5%;
  }
  .col.is-sm-15 {
    flex: none;
    width: 93.75%;
  }
  .col.is-sm-offset-15 {
    margin-left: 93.75%;
  }
  .col.is-sm-16 {
    flex: none;
    width: 100%;
  }
  .col.is-sm-offset-16 {
    margin-left: 100%;
  }
  /*    === GRID ROW START ===    */
  .row.is-sm-row-reverse {
    flex-direction: row-reverse;
  }
  .row.is-sm-col-reverse {
    flex-direction: column-reverse;
  }
  .row.is-sm-nowrap {
    flex-wrap: nowrap;
  }
  .row.is-sm-center {
    justify-content: center;
  }
  .row.is-sm-start {
    justify-content: flex-start;
  }
  .row.is-sm-end {
    justify-content: flex-end;
  }
  .row.is-sm-between {
    justify-content: space-between;
  }
  .row.is-sm-around {
    justify-content: space-around;
  }
  .row.is-sm-evenly {
    justify-content: space-evenly;
  }
  .row.is-sm-justify-revert {
    justify-content: revert;
  }
  .row.is-sm-middle {
    align-items: center;
  }
  .row.is-sm-top {
    align-items: flex-start;
  }
  .row.is-sm-bottom {
    align-items: flex-end;
  }
  .row.is-sm-align-revert {
    align-items: revert;
  }
  .row.is-sm-narrow .col {
    flex: none;
    width: unset;
  }
  .row.is-sm-gap-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .row.is-sm-gap-0 .col {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .row.is-sm-linkgap-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .row.is-sm-linkgap-0 .col.linkgap {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .row.is-sm-gap-25 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  .row.is-sm-gap-25 .col {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .row.is-sm-linkgap-25 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  .row.is-sm-linkgap-25 .col.linkgap {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .row.is-sm-gap-50 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .row.is-sm-gap-50 .col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .row.is-sm-linkgap-50 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .row.is-sm-linkgap-50 .col.linkgap {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .row.is-sm-gap-80 {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }
  .row.is-sm-gap-80 .col {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .row.is-sm-linkgap-80 {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }
  .row.is-sm-linkgap-80 .col.linkgap {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .row.is-sm-gap-100 {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .row.is-sm-gap-100 .col {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .row.is-sm-linkgap-100 {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .row.is-sm-linkgap-100 .col.linkgap {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .row.is-sm-gap-125 {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
  .row.is-sm-gap-125 .col {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .row.is-sm-linkgap-125 {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
  .row.is-sm-linkgap-125 .col.linkgap {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  /*    === GRID Container START ===    */
  .container.is-sm-fullwidth {
    max-width: 100%;
  }
  .container.is-sm-width-sm {
    max-width: 320px;
  }
  .container.is-sm-width-md {
    max-width: 640px;
  }
  .container.is-sm-width-lg {
    max-width: 1024px;
  }
  .container.is-sm-width-big {
    max-width: 1920px;
  }
  .container.is-sm-gap-0 {
    padding: 0;
  }
}
@media (min-width: 640px) {
  /*    === GRID COL START ===    */
  .col.is-md-narrow {
    flex: none;
    width: unset;
  }
  .col.is-md-auto {
    flex: none;
    width: auto;
  }
  .col.is-md-order-n1 {
    order: -1;
  }
  .col.is-md-order-n2 {
    order: -2;
  }
  .col.is-md-order-n3 {
    order: -3;
  }
  .col.is-md-order-n4 {
    order: -4;
  }
  .col.is-md-order-p1 {
    order: 1;
  }
  .col.is-md-order-p2 {
    order: 2;
  }
  .col.is-md-order-p3 {
    order: 3;
  }
  .col.is-md-order-p4 {
    order: 4;
  }
  .col.is-md-order-unset {
    order: unset;
  }
  .col.is-md-1 {
    flex: none;
    width: 6.25%;
  }
  .col.is-md-offset-1 {
    margin-left: 6.25%;
  }
  .col.is-md-2 {
    flex: none;
    width: 12.5%;
  }
  .col.is-md-offset-2 {
    margin-left: 12.5%;
  }
  .col.is-md-3 {
    flex: none;
    width: 18.75%;
  }
  .col.is-md-offset-3 {
    margin-left: 18.75%;
  }
  .col.is-md-4 {
    flex: none;
    width: 25%;
  }
  .col.is-md-offset-4 {
    margin-left: 25%;
  }
  .col.is-md-5 {
    flex: none;
    width: 31.25%;
  }
  .col.is-md-offset-5 {
    margin-left: 31.25%;
  }
  .col.is-md-6 {
    flex: none;
    width: 37.5%;
  }
  .col.is-md-offset-6 {
    margin-left: 37.5%;
  }
  .col.is-md-7 {
    flex: none;
    width: 43.75%;
  }
  .col.is-md-offset-7 {
    margin-left: 43.75%;
  }
  .col.is-md-8 {
    flex: none;
    width: 50%;
  }
  .col.is-md-offset-8 {
    margin-left: 50%;
  }
  .col.is-md-9 {
    flex: none;
    width: 56.25%;
  }
  .col.is-md-offset-9 {
    margin-left: 56.25%;
  }
  .col.is-md-10 {
    flex: none;
    width: 62.5%;
  }
  .col.is-md-offset-10 {
    margin-left: 62.5%;
  }
  .col.is-md-11 {
    flex: none;
    width: 68.75%;
  }
  .col.is-md-offset-11 {
    margin-left: 68.75%;
  }
  .col.is-md-12 {
    flex: none;
    width: 75%;
  }
  .col.is-md-offset-12 {
    margin-left: 75%;
  }
  .col.is-md-13 {
    flex: none;
    width: 81.25%;
  }
  .col.is-md-offset-13 {
    margin-left: 81.25%;
  }
  .col.is-md-14 {
    flex: none;
    width: 87.5%;
  }
  .col.is-md-offset-14 {
    margin-left: 87.5%;
  }
  .col.is-md-15 {
    flex: none;
    width: 93.75%;
  }
  .col.is-md-offset-15 {
    margin-left: 93.75%;
  }
  .col.is-md-16 {
    flex: none;
    width: 100%;
  }
  .col.is-md-offset-16 {
    margin-left: 100%;
  }
  /*    === GRID ROW START ===    */
  .row.is-md-row-reverse {
    flex-direction: row-reverse;
  }
  .row.is-md-col-reverse {
    flex-direction: column-reverse;
  }
  .row.is-md-nowrap {
    flex-wrap: nowrap;
  }
  .row.is-md-center {
    justify-content: center;
  }
  .row.is-md-start {
    justify-content: flex-start;
  }
  .row.is-md-end {
    justify-content: flex-end;
  }
  .row.is-md-between {
    justify-content: space-between;
  }
  .row.is-md-around {
    justify-content: space-around;
  }
  .row.is-md-evenly {
    justify-content: space-evenly;
  }
  .row.is-md-justify-revert {
    justify-content: revert;
  }
  .row.is-md-middle {
    align-items: center;
  }
  .row.is-md-top {
    align-items: flex-start;
  }
  .row.is-md-bottom {
    align-items: flex-end;
  }
  .row.is-md-align-revert {
    align-items: revert;
  }
  .row.is-md-narrow .col {
    flex: none;
    width: unset;
  }
  .row.is-md-gap-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .row.is-md-gap-0 .col {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .row.is-md-linkgap-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .row.is-md-linkgap-0 .col.linkgap {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .row.is-md-gap-25 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  .row.is-md-gap-25 .col {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .row.is-md-linkgap-25 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  .row.is-md-linkgap-25 .col.linkgap {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .row.is-md-gap-50 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .row.is-md-gap-50 .col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .row.is-md-linkgap-50 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .row.is-md-linkgap-50 .col.linkgap {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .row.is-md-gap-80 {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }
  .row.is-md-gap-80 .col {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .row.is-md-linkgap-80 {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }
  .row.is-md-linkgap-80 .col.linkgap {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .row.is-md-gap-100 {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .row.is-md-gap-100 .col {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .row.is-md-linkgap-100 {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .row.is-md-linkgap-100 .col.linkgap {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .row.is-md-gap-125 {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
  .row.is-md-gap-125 .col {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .row.is-md-linkgap-125 {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
  .row.is-md-linkgap-125 .col.linkgap {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  /*    === GRID Container START ===    */
  .container.is-md-fullwidth {
    max-width: 100%;
  }
  .container.is-md-width-sm {
    max-width: 320px;
  }
  .container.is-md-width-md {
    max-width: 640px;
  }
  .container.is-md-width-lg {
    max-width: 1024px;
  }
  .container.is-md-width-big {
    max-width: 1920px;
  }
  .container.is-md-gap-0 {
    padding: 0;
  }
}
@media (min-width: 1024px) {
  /*    === GRID COL START ===    */
  .col.is-lg-narrow {
    flex: none;
    width: unset;
  }
  .col.is-lg-auto {
    flex: none;
    width: auto;
  }
  .col.is-lg-order-n1 {
    order: -1;
  }
  .col.is-lg-order-n2 {
    order: -2;
  }
  .col.is-lg-order-n3 {
    order: -3;
  }
  .col.is-lg-order-n4 {
    order: -4;
  }
  .col.is-lg-order-p1 {
    order: 1;
  }
  .col.is-lg-order-p2 {
    order: 2;
  }
  .col.is-lg-order-p3 {
    order: 3;
  }
  .col.is-lg-order-p4 {
    order: 4;
  }
  .col.is-lg-order-unset {
    order: unset;
  }
  .col.is-lg-1 {
    flex: none;
    width: 6.25%;
  }
  .col.is-lg-offset-1 {
    margin-left: 6.25%;
  }
  .col.is-lg-2 {
    flex: none;
    width: 12.5%;
  }
  .col.is-lg-offset-2 {
    margin-left: 12.5%;
  }
  .col.is-lg-3 {
    flex: none;
    width: 18.75%;
  }
  .col.is-lg-offset-3 {
    margin-left: 18.75%;
  }
  .col.is-lg-4 {
    flex: none;
    width: 25%;
  }
  .col.is-lg-offset-4 {
    margin-left: 25%;
  }
  .col.is-lg-5 {
    flex: none;
    width: 31.25%;
  }
  .col.is-lg-offset-5 {
    margin-left: 31.25%;
  }
  .col.is-lg-6 {
    flex: none;
    width: 37.5%;
  }
  .col.is-lg-offset-6 {
    margin-left: 37.5%;
  }
  .col.is-lg-7 {
    flex: none;
    width: 43.75%;
  }
  .col.is-lg-offset-7 {
    margin-left: 43.75%;
  }
  .col.is-lg-8 {
    flex: none;
    width: 50%;
  }
  .col.is-lg-offset-8 {
    margin-left: 50%;
  }
  .col.is-lg-9 {
    flex: none;
    width: 56.25%;
  }
  .col.is-lg-offset-9 {
    margin-left: 56.25%;
  }
  .col.is-lg-10 {
    flex: none;
    width: 62.5%;
  }
  .col.is-lg-offset-10 {
    margin-left: 62.5%;
  }
  .col.is-lg-11 {
    flex: none;
    width: 68.75%;
  }
  .col.is-lg-offset-11 {
    margin-left: 68.75%;
  }
  .col.is-lg-12 {
    flex: none;
    width: 75%;
  }
  .col.is-lg-offset-12 {
    margin-left: 75%;
  }
  .col.is-lg-13 {
    flex: none;
    width: 81.25%;
  }
  .col.is-lg-offset-13 {
    margin-left: 81.25%;
  }
  .col.is-lg-14 {
    flex: none;
    width: 87.5%;
  }
  .col.is-lg-offset-14 {
    margin-left: 87.5%;
  }
  .col.is-lg-15 {
    flex: none;
    width: 93.75%;
  }
  .col.is-lg-offset-15 {
    margin-left: 93.75%;
  }
  .col.is-lg-16 {
    flex: none;
    width: 100%;
  }
  .col.is-lg-offset-16 {
    margin-left: 100%;
  }
  /*    === GRID ROW START ===    */
  .row.is-lg-row-reverse {
    flex-direction: row-reverse;
  }
  .row.is-lg-col-reverse {
    flex-direction: column-reverse;
  }
  .row.is-lg-nowrap {
    flex-wrap: nowrap;
  }
  .row.is-lg-center {
    justify-content: center;
  }
  .row.is-lg-start {
    justify-content: flex-start;
  }
  .row.is-lg-end {
    justify-content: flex-end;
  }
  .row.is-lg-between {
    justify-content: space-between;
  }
  .row.is-lg-around {
    justify-content: space-around;
  }
  .row.is-lg-evenly {
    justify-content: space-evenly;
  }
  .row.is-lg-justify-revert {
    justify-content: revert;
  }
  .row.is-lg-middle {
    align-items: center;
  }
  .row.is-lg-top {
    align-items: flex-start;
  }
  .row.is-lg-bottom {
    align-items: flex-end;
  }
  .row.is-lg-align-revert {
    align-items: revert;
  }
  .row.is-lg-narrow .col {
    flex: none;
    width: unset;
  }
  .row.is-lg-gap-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .row.is-lg-gap-0 .col {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .row.is-lg-linkgap-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .row.is-lg-linkgap-0 .col.linkgap {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .row.is-lg-gap-25 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  .row.is-lg-gap-25 .col {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .row.is-lg-linkgap-25 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  .row.is-lg-linkgap-25 .col.linkgap {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .row.is-lg-gap-50 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .row.is-lg-gap-50 .col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .row.is-lg-linkgap-50 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .row.is-lg-linkgap-50 .col.linkgap {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .row.is-lg-gap-80 {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }
  .row.is-lg-gap-80 .col {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .row.is-lg-linkgap-80 {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }
  .row.is-lg-linkgap-80 .col.linkgap {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .row.is-lg-gap-100 {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .row.is-lg-gap-100 .col {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .row.is-lg-linkgap-100 {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .row.is-lg-linkgap-100 .col.linkgap {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .row.is-lg-gap-125 {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
  .row.is-lg-gap-125 .col {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .row.is-lg-linkgap-125 {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
  .row.is-lg-linkgap-125 .col.linkgap {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  /*    === GRID Container START ===    */
  .container.is-lg-fullwidth {
    max-width: 100%;
  }
  .container.is-lg-width-sm {
    max-width: 320px;
  }
  .container.is-lg-width-md {
    max-width: 640px;
  }
  .container.is-lg-width-lg {
    max-width: 1024px;
  }
  .container.is-lg-width-big {
    max-width: 1920px;
  }
  .container.is-lg-gap-0 {
    padding: 0;
  }
}
@media (min-width: 1600px) {
  /*    === GRID COL START ===    */
  .col.is-big-narrow {
    flex: none;
    width: unset;
  }
  .col.is-big-auto {
    flex: none;
    width: auto;
  }
  .col.is-big-order-n1 {
    order: -1;
  }
  .col.is-big-order-n2 {
    order: -2;
  }
  .col.is-big-order-n3 {
    order: -3;
  }
  .col.is-big-order-n4 {
    order: -4;
  }
  .col.is-big-order-p1 {
    order: 1;
  }
  .col.is-big-order-p2 {
    order: 2;
  }
  .col.is-big-order-p3 {
    order: 3;
  }
  .col.is-big-order-p4 {
    order: 4;
  }
  .col.is-big-order-unset {
    order: unset;
  }
  .col.is-big-1 {
    flex: none;
    width: 6.25%;
  }
  .col.is-big-offset-1 {
    margin-left: 6.25%;
  }
  .col.is-big-2 {
    flex: none;
    width: 12.5%;
  }
  .col.is-big-offset-2 {
    margin-left: 12.5%;
  }
  .col.is-big-3 {
    flex: none;
    width: 18.75%;
  }
  .col.is-big-offset-3 {
    margin-left: 18.75%;
  }
  .col.is-big-4 {
    flex: none;
    width: 25%;
  }
  .col.is-big-offset-4 {
    margin-left: 25%;
  }
  .col.is-big-5 {
    flex: none;
    width: 31.25%;
  }
  .col.is-big-offset-5 {
    margin-left: 31.25%;
  }
  .col.is-big-6 {
    flex: none;
    width: 37.5%;
  }
  .col.is-big-offset-6 {
    margin-left: 37.5%;
  }
  .col.is-big-7 {
    flex: none;
    width: 43.75%;
  }
  .col.is-big-offset-7 {
    margin-left: 43.75%;
  }
  .col.is-big-8 {
    flex: none;
    width: 50%;
  }
  .col.is-big-offset-8 {
    margin-left: 50%;
  }
  .col.is-big-9 {
    flex: none;
    width: 56.25%;
  }
  .col.is-big-offset-9 {
    margin-left: 56.25%;
  }
  .col.is-big-10 {
    flex: none;
    width: 62.5%;
  }
  .col.is-big-offset-10 {
    margin-left: 62.5%;
  }
  .col.is-big-11 {
    flex: none;
    width: 68.75%;
  }
  .col.is-big-offset-11 {
    margin-left: 68.75%;
  }
  .col.is-big-12 {
    flex: none;
    width: 75%;
  }
  .col.is-big-offset-12 {
    margin-left: 75%;
  }
  .col.is-big-13 {
    flex: none;
    width: 81.25%;
  }
  .col.is-big-offset-13 {
    margin-left: 81.25%;
  }
  .col.is-big-14 {
    flex: none;
    width: 87.5%;
  }
  .col.is-big-offset-14 {
    margin-left: 87.5%;
  }
  .col.is-big-15 {
    flex: none;
    width: 93.75%;
  }
  .col.is-big-offset-15 {
    margin-left: 93.75%;
  }
  .col.is-big-16 {
    flex: none;
    width: 100%;
  }
  .col.is-big-offset-16 {
    margin-left: 100%;
  }
  /*    === GRID ROW START ===    */
  .row.is-big-row-reverse {
    flex-direction: row-reverse;
  }
  .row.is-big-col-reverse {
    flex-direction: column-reverse;
  }
  .row.is-big-nowrap {
    flex-wrap: nowrap;
  }
  .row.is-big-center {
    justify-content: center;
  }
  .row.is-big-start {
    justify-content: flex-start;
  }
  .row.is-big-end {
    justify-content: flex-end;
  }
  .row.is-big-between {
    justify-content: space-between;
  }
  .row.is-big-around {
    justify-content: space-around;
  }
  .row.is-big-evenly {
    justify-content: space-evenly;
  }
  .row.is-big-justify-revert {
    justify-content: revert;
  }
  .row.is-big-middle {
    align-items: center;
  }
  .row.is-big-top {
    align-items: flex-start;
  }
  .row.is-big-bottom {
    align-items: flex-end;
  }
  .row.is-big-align-revert {
    align-items: revert;
  }
  .row.is-big-narrow .col {
    flex: none;
    width: unset;
  }
  .row.is-big-gap-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .row.is-big-gap-0 .col {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .row.is-big-linkgap-0 {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .row.is-big-linkgap-0 .col.linkgap {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .row.is-big-gap-25 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  .row.is-big-gap-25 .col {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .row.is-big-linkgap-25 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
  .row.is-big-linkgap-25 .col.linkgap {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .row.is-big-gap-50 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .row.is-big-gap-50 .col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .row.is-big-linkgap-50 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .row.is-big-linkgap-50 .col.linkgap {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .row.is-big-gap-80 {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }
  .row.is-big-gap-80 .col {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .row.is-big-linkgap-80 {
    margin-left: -0.8rem;
    margin-right: -0.8rem;
  }
  .row.is-big-linkgap-80 .col.linkgap {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .row.is-big-gap-100 {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .row.is-big-gap-100 .col {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .row.is-big-linkgap-100 {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .row.is-big-linkgap-100 .col.linkgap {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .row.is-big-gap-125 {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
  .row.is-big-gap-125 .col {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .row.is-big-linkgap-125 {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
  .row.is-big-linkgap-125 .col.linkgap {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  /*    === GRID Container START ===    */
  .container.is-big-fullwidth {
    max-width: 100%;
  }
  .container.is-big-width-sm {
    max-width: 320px;
  }
  .container.is-big-width-md {
    max-width: 640px;
  }
  .container.is-big-width-lg {
    max-width: 1024px;
  }
  .container.is-big-width-big {
    max-width: 1920px;
  }
  .container.is-big-gap-0 {
    padding: 0;
  }
}
